*{
  margin: auto;
}

body {
    // background-image: url("./assets/mar-bocatcat-306981-unsplash.jpg");
    background-color: blue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover ;
 
}