header {
  color: #233D77;
  background: $grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;

  h1 {
    padding-left: 50px;
    font-family: $title;
    font-size: 65px;
    text-shadow: 1px 1px 2px $light;
  }

  select {
    width: 248px;
    height: 30px;
    font-family: $text;
    font-size: 15px;
    outline: none;
    text-align: center;
    margin: 15px 0px 20px 0px;
  }

  button {
    @include instructions-button
  }
}