.instructions {
  background: #6f93bd;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 50px;
  margin-bottom: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 1px $light;
  border-radius: 5px;
  }
  
  h3 {
    font-family: $text;
    margin: 3px 0;
    font-size: 20px;
    color: $light;
  }

  .dots {
    padding-left: 20px;
    font-size: 15px;
    line-height: 25px;
    color: $light;
  }
