  .question-card {
  width: 500px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px $light;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba( 0, 0, 0, .3);
  color: $light;

  .catagory-title {
    color: $light;
    font-size: 25px;
    text-shadow: 1px 1px 2px $blue;
  }

  p {
    text-align: center;
    font-family: $text;
    font-weight: 600;
    font-size: 17px;
    padding: 10px;
  }

  button {
    @include card-button;
  }
}

  .answer-btns {
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
}