// Colors
$light: #FFEEB7;
$blue: #233D77;
$green: #38ef7d;


$grad: linear-gradient(to top, #233D77, #506FBA
);
$grad-grey: linear-gradient(to top, #404142, #939496
);

// Fonts
$title: 'Fascinate';
$text: 'Raleway';